<div class="layui-form-item">
    <label class="layui-form-label">{$label}</label>
    <div class="layui-{$layui}">
        {foreach $options as $key=>$val}
        <input type="checkbox" {volist name="attr" id="vo"}{$vo}{/volist} style="display:none!important;" data-name="name_{$build_view_rand}" {$required} name="{$name}[]" title="{$val}" {if in_array($key,$value)}checked{/if} value="{$key}"/>
        {/foreach}
        {$appendHtml|raw}
        {notempty name="$help"}
        <div class="help-block">{$help}</div>
        {/notempty}
    </div>
</div>
<script>
    /*{if count($options) > 0}*/
    let i = Math.ceil(Math.random()*10000000)
    $('[data-name=name_{$build_view_rand}]').attr('lay-filter','build_id_'+i);
    let name = $('[data-name=name_{$build_view_rand}]').attr('name');
    if((name.split('[]')).length-1 > 1){
        name = name.replace('[]','');
        $('[data-name=name_{$build_view_rand}]').attr('name',name+'['+i+']');
    }
    /*{/if}*/
</script>