<div class="layui-form-item">
    <label class="layui-form-label">{$label}</label>
    <div class="layui-input-inline" style="width: 120px">
        {if isset($required)}<input type="hidden" required>{/if}
        <input autocomplete="off" type="text" {$min}{$max}name="{$name}" value="{$value}" lay-verify="{$layVerify}" lay-verType="tips" lay-reqText="{:lang('build_view_please_select')}{:lang('build_view_please_color')}" placeholder="{:lang('build_view_please_select')}{:lang('build_view_please_color')}" class="layui-input">
        {notempty name="$help"}
        <div class="help-block">{$help}</div>
        {/notempty}
    </div>
    <div class="layui-inline" style="left: -11px;"><div id="{$name}_color"></div></div>
</div>
<script>
    layui.use('colorpicker', function(){
        //表单赋值
        var colorpicker = layui.colorpicker;
        colorpicker.render({
            elem: '#{$name}_color'
            ,color: '{$value}'
            ,done: function(color){
                $('input[name={$name}]').val(color);
            }
        });
    });
</script>