<div class="layui-form-item">
    <label class="layui-form-label">{$label}</label>
    <div class="layui-input-{$layui}">
        {if isset($required)}<input type="hidden" required>{/if}
        <input  lay-verify="{$layVerify}"  readonly lay-verType="tips" lay-reqText="{:lang('build_view_please_select')}{$label}" name="{$name}" id="{$name}" value="{$value}"  placeholder="{:lang('build_view_please_select')}{$label}" class="layui-input">
        {notempty name="$help"}
        <div class="help-block">{$help}</div>
        {/notempty}
    </div>
</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#{$name}' //指定元素
            ,type: 'date'
        {if isset($format)}
            ,format:'{$format}'
        {/if}
        });
    });
</script>