<!--{block name="header"}-->
<!--{notempty name='title'}-->
<!--{neq name="Think.get.open_type" value="modal"}-->
<div class="layui-card layui-bg-gray">
    <div class="layui-card-header notselect">
        <span class="layui-icon layui-icon-next font-s10 color-desc margin-right-5"></span>{$title|default=''}
        <!--{if $Think.get.back eq 1}-->
        <button style="position:absolute;right:5px;top: 10px" class="layui-btn layui-btn-sm layui-bg-black"
                href="javascript:;" onclick="history.back();"><i class="layui-icon">&#xe65a;</i>{:lang('build_view_back_btn')}
        </button>
        </span>
        <!--{/if}-->
    </div>
</div>
<!--{/neq}-->
<!--{/notempty}-->
<!--{/block}-->
{block name="content"}

<div class="layui-card-body ">
    <div class="layui-row layui-col-space15 layui-form">
        {$detail|raw}
    </div>
</div>
<script>window.form.render();</script>
{/block}
