{php}
if(!isset($uptype)){
    if(function_exists('sysconf')){
        $uptype = sysconf('storage_type');
    }else{
        $uptype = 'local';
    }
}
{/php}
<div class="layui-form-item ">
    <label class="layui-form-label">{$label}</label>
    <div class="layui-input-{$layui}">
        <input type="text" class="layui-input" name="{$name}" value="{$value}" readonly >
        <i  style="background:#ffffff;font-size: 18px;position: absolute;top: 8px; right: 115px;cursor: pointer;{empty name="$name"}display: none;{/empty}" class="layui-icon layui-icon-close" file-colse="true"></i>
        <i class="layui-icon layui-icon-upload-drag font-s14"  style="font-size: 18px;position: absolute;top: 8px; right: 80px;cursor: pointer;z-index: 999" ></i>
        <button data-file="{if isset($multiple)}mtl{else/}one{/if}"   style="position: absolute;top: 0px; right: 0px;cursor: pointer;z-index: 998"  data-uptype="{$uptype}"  data-names="name_{$build_view_rand}" {if !isset($baseUrl)}data-safe="true"{/if} data-field="{$name}" data-type="{$uploadType|default='*'}" type="button" class="layui-btn layui-btn-primary input-group-btn">&nbsp;&nbsp;&nbsp;{:lang('build_view_upload_file')}</button>
        {notempty name="$help"}
        <div class="help-block">{$help}</div>
        {/notempty}
    </div>

</div>
<script>
    $('[file-colse]').click(function () {
       $(this).prev('input').val('');
       $(this).hide();
       $('#build_id_'+i).prev('i').removeClass('color-green layui-icon-vercode').addClass('layui-icon-upload-drag');
    });
    let i = Math.ceil(Math.random()*10000000);
    $('[data-names=name_{$build_view_rand}]').attr('id','build_id_'+i);
        $.fn.uploadFiles = function (callback) {
            if (this.attr('data-inited')) return false;
            var that = this, mode = $(this).attr('data-file') || 'one';
            this.attr('data-inited', true).attr('data-multiple', (mode !== 'btn' && mode !== 'one') ? 1 : 0);
            require(['/vendor/build-view/plugs/plupload/build.js'], function (apply) {
                apply(that, null, callback);
            })
        };
    $('#build_id_'+i).uploadFiles(function(url){
        /*{if isset($multiple)}*/
        if($("input[name={$name}]").val() != ''){
            url =$("input[name={$name}]").val()  +'|'+ url;
        }
        /*{/if}*/
        $("input[name={$name}]").val(url);
        $('#build_id_'+i).prev('i').addClass('color-green layui-icon-vercode').removeClass('layui-icon-upload-drag');
        $('#build_id_'+i).prev('i').prev('i').show();
    });
    if($("input[name={$name}]").val() != ''){
        $('#build_id_'+i).prev('i').addClass('color-green layui-icon-vercode').removeClass('layui-icon-upload-drag');
    }
    // layui.use('upload', function(){
    //     var upload = layui.upload;
    //     upload.render({
    //         elem: '#{$name}'
    //         ,url: "{:url('admin/Plugs/upload')}" //必填项
    //         ,method: ''  //可选项。HTTP类型，默认post
    //         ,data: {} //可选项。额外的参数，如：{id: 123, abc: 'xxx'}
    //         ,accept:"{$uploadType|default='file'}"
    //         ,done: function(res){
    //             $("#{$name}").find('i').addClass('color-green layui-icon-vercode').removeClass('layui-icon-upload-drag');
    //         },
    //         error: function(){
    //             $("#{$name}").find('i').removeClass('color-green layui-icon-vercode').addClass('layui-icon-upload-drag');
    //             $.msg('上传失败');
    //         }
    //     });
    // });
</script>
