<style>
    .form-search .layui-form-label{
        width: auto;
        align-items:center;
        display: flex;

    }
    .layui-elem-field legend{
        color: #666;
        padding: 0 10px;
        font-size: 14px;
    }
    legend {
        display: block;
        padding-inline-start: 2px;
        padding-inline-end: 2px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }
    .layui-form-pane .layui-form-item .layui-form-label  {
        float:left;
        clear: none;

    }
    .layui-form-item .layui-inline{
        margin-bottom:0px;
    }
    .layui-form-pane .layui-form-text .layui-input-inline{
        top:0;
        clear: none;

    }

    .layui-form-item .layui-form-checkbox {
         margin-top: 1px;
    }
</style>
<fieldset class="layui-elem-field" >
    <legend style="margin-bottom:0px">{:lang('build_view_filter_search_desc')}</legend>
    <div class="layui-field-box">
    <form class="layui-form layui-form-pane form-search" action="{:url('','',false)}" onsubmit="return filterSubmit(this)" method="get" autocomplete="off">
        {$filter|raw}
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> {:lang('build_view_filter_search')}</button>
        </div>
    </form>
    </div>
</fieldset>
<script>
    form.render()
	 function restartFilter() {
        $('.form-search').find('input,select').each(function() {
            $(this).val('');
        });
    }
    function filterSubmit(dom){
        if (window.frames.length != parent.frames.length) {
            $(dom).attr('class','layui-form layui-form-pane');
            return true;
        }else{
            return false;
        }
    }
</script>
