<!--{block name="header"}-->
<!--{notempty name='title'}-->
<!--{neq name="Think.get.open_type" value="modal"}-->
<!--{neq name="Think.get.open_type" value="full"}-->
<div class="layui-card layui-bg-gray">
    <div class="layui-card-header notselect">
    <span class="layui-icon layui-icon-next font-s10 color-desc margin-right-5"></span>{$title|default=''}
    <!--{if $Think.get.back eq 1}-->
    <button style="position:absolute;right:5px;top: 10px" class="layui-btn layui-btn-sm layui-bg-black"
            href="javascript:;" onclick="history.back();"><i class="layui-icon">&#xe65a;</i>{:lang('build_view_back_btn')}
    </button>
    </span>
    <!--{/if}-->
</div>
</div>
<!--{/neq}-->
<!--{/neq}-->
<!--{/notempty}-->
<!--{/block}-->
{block name="content"}
<style type="text/css">
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{
        -webkit-appearance: none !important;
        margin: 0;
    }
    input[type="number"]{-moz-appearance:textfield;}
</style>
<div class="layui-card-body layui-anim layui-anim-upbit layui-col-md{$md|default='12'}">
    <form class="layui-form think-box-shadow layui-box {if isset($theme)}layui-form-pane{/if}" action="{$aciontUrl}" method="post" autocomplete="off">
        <div class="layui-card-body">
            {$content|raw}
            <div class="hr-line-dashed"></div>
            <div class="layui-form-item text-center">
                {$hiddenId|raw}
                <button class="layui-btn" lay-submit type='submit' lay-filter="*">{$submitText|default=lang('build_view_form_save')}</button>
            </div>
        </div>
    </form>
</div>
{/block}

<script>
    {$script|raw}
    window.form.render();
    form.on('submit(*)', function(data){
        var validate = true;
        var form = data.form;
        if (typeof CKEDITOR === 'object' && typeof CKEDITOR.instances === 'object') {
            for (var instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
        }
        $(form).find('input').map(function(){
            if(!this.checkValidity() && validate){
                validate = false;
            }
        });

        if(validate){
            var method = form.getAttribute('method') || 'POST';
            var tips = form.getAttribute('data-tips') || undefined;
            var url = form.getAttribute('action') || window.location.href;
            var callback = undefined;
            var time = form.getAttribute('data-time') || undefined;
            $.form.load(url,$(form).serialize(), method, callback, true, tips, time);
            return false;
        }
    });
</script>
