<fieldset class="layui-elem-field layui-field-title">
    <legend>{$label}</legend>
    <div class="layui-field-box">
        <div class="layui-row" id="hasMany{$name}">
            {$value|raw}
        </div>
        <div class="layui-input-block"><button type="button" class="layui-btn layui-btn-normal" data-hasMany="hasManyAdd">{:lang('build_view_add_btn')}</button></div>
    </div>
</fieldset>
<script>
    var hasMany{$name} = '{$hasManyjsHtml|raw}';
    hasMany{$name} = decodeURIComponent(hasMany{$name}.replace(/\+/g, '%20'));
    $('button[data-hasMany=hasManyDel]').click(function(){
        $(this).parent().parent().parent('.layui-row').remove();
    });
    $('button[data-hasMany=hasManyAdd]').click(function(){

        $('#hasMany{$name}').append(hasMany{$name});
        $('button[data-hasMany=hasManyDel]').click(function(){
            $(this).parent().parent().parent('.layui-row').remove();
        });
    });
</script>
