<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">{$label}</label>
    <div class="layui-input-{$layui}">
        {foreach $options as $key=>$val}
        <input {volist name="attr" id="vo"}{$vo}{/volist} type="radio" style="display:none!important;" {$required} name="{$name}" data-name="name_{$build_view_rand}"  title="{$val}" {eq name="$key" value="$value"}checked{/eq} value="{$key}"/>
        {/foreach}
        {$appendHtml|raw}
        {notempty name="$help"}
        <div class="help-block">{$help}</div>
        {/notempty}
    </div>
</div>
<script>
    let i = Math.ceil(Math.random()*10000000)
    $('[data-name=name_{$build_view_rand}]').attr('lay-filter','build_id_'+i);
    /*{if isset($event)}*/
    form.on('radio(build_id_'+i+')', function (data) {
        {$event|raw}
    });
    /*{/if}*/
    let name = $('[data-name=name_{$build_view_rand}]').attr('name');
    if(name.indexOf('[]') > -1){
        name = name.replace('[]','');
        $('[data-name=name_{$build_view_rand}]').attr('name',name+'['+i+']');
    }
</script>