{if isset($multiple)}
<link href="/vendor/build-view/plugs/formSelect/formSelects-v4.css" rel="stylesheet">
{/if}
<div class="layui-form-item">
    <label class="layui-form-label">{$label}</label>
    <div class="layui-input-{$layui}">
        <select {volist name="attr" id="vo"}{$vo}{/volist} name="{$name}" lay-filter="{$name}" lay-verify="{$layVerify}" lay-verType="tips" data-name="name_{$build_view_rand}" lay-reqText="{:lang('build_view_please_select')}{$label}" lay-search {$required} {if isset($multiple)}xm-select="{$name}" xm-select-search-type="dl" xm-select-search{/if}>
        <option value="">{:lang('build_view_please_select')}{$label}</option>
        <!--{foreach $options as $key=>$val}-->
        <option value="{$key}" {if !empty($value) || $value =='0'}{eq name="$value" value="$key"}selected{/eq}{/if}>{$val}</option>
            <!--{/foreach}-->
        </select>
        <!--{$appendHtml|raw}-->
        <!--{notempty name="$help"}-->
        <div class="help-block">{$help}</div>
        <!--{/notempty}-->
    </div>
</div>

<script type="text/javascript">

    let i = Math.ceil(Math.random()*10000000);
    $('[data-name=name_{$build_view_rand}]').attr('lay-filter','build_id_'+i);

    /*{if isset($event)}*/
    form.on('select(build_id_'+i+')', function (data) {
        {$event|raw}
    });
    /*{/if}*/
    /*{if isset($load)}*/
    form.on('select(build_id_'+i+')', function(data){
        $.post("{:url($load[1])}",{q:data.value},function(result,status){
            var data = result.data;
            var str = '';
            for(var x in data){
                str += '<option value = "' + data[x].id + '">' + data[x].text + '</option>'
            }
            $('select[name={$load[0]}]').html(str);
            form.render('select'); 
        });
    });
    /*{/if}*/
    /*{if isset($multiple)}*/
    $('[data-name=name_{$build_view_rand}]').attr('xm-select','build_id_'+i);
    layui.extend({
        formSelects:'/vendor/build-view/plugs/formSelect/formSelects-v4',
    });
    layui.use([ 'formSelects'], function(){
        let formSelects = layui.formSelects;
        formSelects.render('build_id_'+i,{
            init:{$value|raw|json_encode},
        });
    });
    /*{/if}*/
</script>
