<div class="layui-form-item">
    <label class="layui-form-label">{$label}</label>
    <div class="layui-input-{$layui}">
        <select name="{$name}" lay-filter="{$name}" lay-verify="{$layVerify}" lay-verType="tips" lay-reqText="{:lang('build_view_please_select')}{$label}" lay-search {$required} {if isset($multiple)}xm-select="{$name}" xm-select-search{/if}>
        <option value="">{:lang('build_view_please_select')}{$label}</option>
        <!--{foreach $options as $key=>$val}-->
             <optgroup label="{$val.text}">
                 <!--{foreach $val.son as $v}-->
                <option value="{$v.id}" {eq name="$value" value="$v.id"}selected{/eq}>{$v.text}</option>
                 <!--{/foreach}-->
             </optgroup>
            <!--{/foreach}-->
        </select>
        <!--{notempty name="$help"}-->
        <div class="help-block">{$help}</div>
        <!--{/notempty}-->
    </div>
</div>
<!--{if isset($load)}-->
<script type="text/javascript">
form.on('select({$name})', function(data){
    $.post("{:url($load[1])}",{q:data.value},function(result,status){
        var data = result.data;
        var str = '';
        for(var x in data){
            str += '<option value = "' + data[x].id + '">' + data[x].text + '</option>'
        }
        $('select[name={$load[0]}]').html(str);
        form.render('select'); 
    });
});
</script>
<!--{/if}-->
<!--{if isset($multiple)}-->
<script type="text/javascript">
    var formSelects = layui.formSelects;
    formSelects.render('{$name}',{
        init:{$value|raw|json_encode},
    });
</script>
<!--{/if}-->