<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">{$label}</label>
    <div class="layui-input-{$layui}">
        <input {volist name="attr" id="vo"}{$vo}{/volist} readonly autocomplete="off" type="text" {$required}name="{$name}" data-name="name_{$build_view_rand}" value="{$value}"  placeholder="{:lang('build_view_please_input')}{$label}" class="layui-input">
        <div id="silder_{$build_view_rand}"></div>
        {$appendHtml|raw}
        {notempty name="$help"}
        <div class="help-block">{$help}</div>
        {/notempty}
    </div>
</div>
<script>
    layui.use('slider', function(){
        let i = Math.ceil(Math.random()*10000000);
        $('[data-name=name_{$build_view_rand}]').attr('data-name','newname_'+i);
        $(document.getElementById('silder_{$build_view_rand}')).attr('id','build_name_'+i);
        let input = $('[data-name=newname_'+i+']');
        var slider = layui.slider;
        //渲染
        slider.render({
            elem: '#'+'build_name_'+i
            ,theme:"{$color|default='#18BC9C'}"
            ,min:{$min|default='1'}
            ,max:{$max|default='100'}
            ,value:'{$value}'
            ,change: function(value){
                input.val(value);
            }
        });
    });
</script>