<div class="layui-form-item">
    <label class="layui-form-label color-green">{$label}</label>
    <div class="layui-input-{$layui}">
        <input readonly autocomplete="off" type="text" {$required}name="{$name}" value="{$value}"  placeholder="请输入{$label}" class="layui-input">
        <div id="{$name}"></div>
        {notempty name="$help"}
        <div class="help-block">{$help}</div>
        {/notempty}
    </div>
</div>
<script>
    layui.use('slider', function(){
        var slider = layui.slider;
        //渲染
        slider.render({
            elem: '#{$name}'  //绑定元素
            ,min:{$min|default='1'}
            ,max:{$max|default='100'}
            ,value:'{$value}'
            ,change: function(value){
                $('input[name={$name}]').val(value);
            }
        });
    });
</script>