<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">{$label}</label>
    <div class="layui-input-{$layui}">
        <input type="checkbox" style="display:none!important;" lay-filter="switch-{$name}"  data-name="name_{$build_view_rand}" {$required} {eq name="$value" value="$swithcStates['on']['value']|default='1'"}checked{/eq} lay-text="{$swithcStates['on']['text']|default=lang('build_view_grid_switch_on')}|{$swithcStates['off']['text']|default=lang('build_view_grid_switch_off')}" lay-skin="switch">
        <input name="{$name}" type="hidden" data-name="input_{$build_view_rand}" value="{$value}">
        {notempty name="$help"}
        <div class="help-block">{$help}</div>
        {/notempty}
    </div>
</div>
<script>
    let i = Math.ceil(Math.random()*10000000)
    $('[data-name=name_{$build_view_rand}]').attr('id','build_id_'+i);
    $('[data-name=name_{$build_view_rand}]').attr('lay-filter','build_id_'+i);
    $('[data-name=input_{$build_view_rand}]').attr('id','input_build_id_'+i);
     /*{eq name="$value" value="$swithcStates['on']['value']|default='1'"}*/
        $('#'+'build_id_'+i).val('{$value}');
    /* {else/}*/
         $('#'+'build_id_'+i).val("{$swithcStates['off']['value']|default='-1'}");
         /*{/eq}*/
    form.on('switch(build_id_'+i+')', function(data){
        var value ='';
        if(data.elem.checked){
            value = "{$swithcStates['on']['value']|default='1'}";
        }else{
            value = "{$swithcStates['off']['value']|default='-1'}";
        }
        $('#input_build_id_'+i).val(value);
    });
</script>