<style>
    .layui-form input[type=checkbox]{
        display:none!important;
    }
    .layui-table-page{
        margin-bottom: 0px!important;
    }
    .layui-table-cell {
        height: auto;
    }
    .layui-table-grid-down {
        display: none;
    }
    .layui-table img {
        max-width: none;
    }
</style>
{if isset($toolbar)}
<div class="layui-row">
    {$toolbar|raw}
</div>
{/if}
<table class="layui-hide" id="{$tableId}" lay-filter="{$tableId}">
</table>
<!--{eq name="iframeType" value="submit"}-->
<div class="layui-form-item text-center" >

    <button type="button"  class='layui-btn' id="subbutton">{:lang('build_view_table_confirm_btn')}</button>
</div>
<!--{/eq}-->
<script>


    //导出选中行
    layui.use('table', function(){
        var excel_limit =0;
        var excel_page=0;
        var table = layui.table;
        var page = 1;
        var sortable_start = false,sortable_end = false;
        var sortable_start_data,sortable_end_data;
        if(localStorage.getItem('build_view_url') == '{:md5(request()->url())}'){
            page = localStorage.getItem('{:md5(request()->url())}')
        }
        table.render({
            elem: '#{$tableId}'
            ,skin:'{$tableSkin|default="line"}'
            ,url:"{:request()->url()}"
            ,autoSort:false
            ,where:{
                table:true
            }
            {if isset($totalRow)}
            ,totalRow:true
            {/if}
             {if !isset($hidePage)}
            ,page: {
                limit:{$pageLimit|default='20'}
                ,curr: page
                ,limits:[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]
            }
            {/if}
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: {$name|raw}
            ,done:function(res,curr,count){

                /*{if isset($sortField)}*/
                require(['/vendor/build-view/plugs/Sortable.min.js'],function(Sortable){
                    var sortable = new Sortable(document.querySelector('tbody'), {
                        // Element dragging started
                        onStart: function (/**Event*/evt) {
                            sortable_start = true;
                            evt.item.click();
                        },

                        // Element dragging ended
                        onEnd: function (/**Event*/evt) {
                            if(evt.newIndex != evt.oldIndex){
                                sortable_end = true;
                                if(evt.newIndex < evt.oldIndex){
                                    index = evt.newIndex+1;

                                }else{
                                    index = evt.newIndex-1;

                                }
                                evt.from.rows[index].click();
                            }
                        },
                    });
                });
                /*{/if}*/
                excel_limit = res.data.length;
                excel_page = curr;
                localStorage.setItem('build_view_url','{:md5(request()->url())}');
                localStorage.setItem('{:md5(request()->url())}',curr);
                $(".layui-table-cell").mouseover(function() {
                    if(this.offsetWidth<this.scrollWidth){
                        var that = this;
                        var text = $(this).text();
                        layer.tips(text, that);
                    }
                });
                var tableElem = this.elem.next('.layui-table-view');
                layui.each(tableElem.find('table td select'), function (index, item) {
                    var elem = $(item);
                    $('.layui-table-body').css('overflow', 'visible');
                    $('.layui-table-box').css('overflow', 'visible');
                    elem.parents('div.layui-table-cell').css('overflow', 'visible');
                });
                $('[data-table-sort]').change(function(){
                    $.post("{:request()->url()}",{id:$(this).data('id'),value:$(this).val(),field:'buldview_sort'});
                });
            }
        });
        //监听排序
        table.on('sort({$tableId})', function(obj){
            let sortSqlArr = {};
            {php}
            $ths = json_decode($name,true);
            foreach($ths[0] as $th){
                if(isset($th['sortSql'])){
                    echo "sortSqlArr['".$th['field']."'] = '".urlencode($th['sortSql'])."';";
                }
            }
            {/php}
             if(sortSqlArr[obj.field]){
                 obj.field = sortSqlArr[obj.field];
             }
            table.reload('{$tableId}',{
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    table_sort:true,
                    field: obj.field //排序字段
                    ,order: obj.type //排序方式
                }
            });
        });
        //监听操作栏
        table.on('tool({$tableId})', function(obj){
            var data = obj.data;

            if(obj.event === 'detail'){
                var url = '{:url("detail")}?id='+data.id+'&form_open={$formOpen}&back=1&{$detailButtonParam|raw|default=""}';
                if('{$formOpen|default="open"}' == 'open'){
                    $.form.href(url, this);
                }else{
                    return $.form.modal(url, 'open_type=modal', $(this).attr('data-title') || "{:lang('build_view_grid_detail')}");
                }
            } else if(obj.event === 'del'){
                layer.confirm("{:lang('build_view_table_delete_tip')}", function(index){
                    $.form.load("{:request()->url()}", {field: 'delete', value: data.id, id: data.id}, 'post');
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                var url = '{:url("form")}?id='+data.id+'&back=1&{$editButtonParam|raw|default=""}';
                if('{$formOpen|default="open"}' == 'open'){
                    $.form.href(url, this);
                }else{
                    return $.form.modal(url, 'open_type=modal', $(this).attr('data-title') || "{:lang('build_view_grid_edit')}");
                }
            }
        });
        table.on('row({$tableId})', function(obj){
            if(sortable_start){
                sortable_start = false;
                sortable_start_data = obj.data;
            }
            if(sortable_end){
                sortable_end = false;
                sortable_end_data = obj.data;
                $.post("{:request()->url()}",{start_data:sortable_start_data,end_data:sortable_end_data,field:'buldview_drag_sort'});
            }
        });
        //刷新
        $('#sortButton').click(function(){
           $.form.reload();
        });
        // 全部删除
        $('#batch_delete_all').click(function () {
            $.msg.confirm("{:lang('build_view_table_delete_all_tip')}", function () {
                $.form.load("{:request()->url()}", {field: 'delete', id: 'all'}, 'post');
            });
        })
        //批量操作
        $('[data-batch=true]').click(function () {
            var checkStatus = table.checkStatus('{$tableId}')
                ,data = checkStatus.data,arr = new Array();;
            for(var i = 0;i<data.length;i++){
                arr.push(data[i]['id']);
            }
            var ids =  arr.join(",");
            if (ids.length < 1) {
                return $.msg.tips("{:lang('build_view_please_select')}{:lang('build_view_table_confirm_tip')}");
            }
            var rules = $(this).attr('data-value').split(';');
            let datas = {};
            for (var i in rules) {
                datas[rules[i].split('#')[0]] = rules[i].split('#')[1];
            }

            datas.id = ids;

            let url = $(this).data('url');
            $.msg.confirm('确定要操作这些数据吗？', function () {
                $.form.load(url, datas, 'post');
            });
        })
        //批量删除
        $('#batch_delete').click(function () {
            var checkStatus = table.checkStatus('{$tableId}')
                ,data = checkStatus.data,arr = new Array();;
            for(var i = 0;i<data.length;i++){
                arr.push(data[i]['id']);
            }
            var ids =  arr.join(",");
            if (ids.length < 1) {
                return $.msg.tips("{:lang('build_view_please_select')}{:lang('build_view_table_confirm_tip')}");
            }
            $.msg.confirm('确定要删除这些数据吗？', function () {
                $.form.load("{:request()->url()}", {field: 'delete', value: data.id, id: ids}, 'post');
            });
        })
        //监听行内编辑
        table.on('edit({$tableId})', function(obj){
            let post = {};
            post['id'] = obj.data.id;
            post[obj.field] = obj.value;
            $.form.load("{:request()->url()}", post, 'post');
        });
        //导出当前页
        $('#excelPage').click(function(){
            window.location.href = '{:request()->url()}&export=true&export_type=page&page='+excel_page+'&limit='+excel_limit;
        });
        //导出选中
        $('#excelSelect').click(function(){
            var checkStatus = table.checkStatus('{$tableId}')
                ,data = checkStatus.data,arr = new Array();;
            for(var i = 0;i<data.length;i++){
                arr.push(data[i]['id']);
            }
            var ids =  arr.join(",");
            if (ids.length < 1) {
                return $.msg.tips("{:lang('build_view_please_select')}{:lang('build_view_table_confirm_tip')}");
            }
            window.location.href = '{:request()->url()}&export=true&export_type=select&ids='+ids;
        });
        //监听多行选择
        table.on('checkbox({$tableId})', function(obj){
            var checkStatus = table.checkStatus('{$tableId}')
                ,data = checkStatus.data,arr = new Array();;
            for(var i = 0;i<data.length;i++){
                arr.push(data[i]['id']);
            }
            var ids =  arr.join(",");
            $('button[data-batch=true]').attr('data-update',ids);
        });
        //iframe中的提交
        $('#subbutton').click(function(){
            var checkStatus = table.checkStatus('{$tableId}')
                ,data = checkStatus.data,arr = new Array();;
            for(var i = 0;i<data.length;i++){
                arr.push(data[i]['id']);
            }
            var ids =  arr.join(",");
            if (ids.length < 1) {
                return $.msg.tips("{:lang('build_view_please_select')}{:lang('build_view_table_confirm_tip')}");
            }
            $.post("{$iframeUrl}",{select_ids:ids,value:'{$iframeValue}',_method:'PUT'},function(data,status){
                if(data.code == 1){
                    $.msg.success("{:lang('build_view_action_success')}", 1, function(){
                        top.$.form.reload();
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }else{
                    $.msg.error(data.msg, 2);
                }
            });
        });
    });

</script>